body{
  background: url(/img/subtle_dots.png);
  font-weight: 400 !important;
  font-family: 'Raleway', sans-serif;
}
.fixed.contain-to-grid{
  height: 50px;
}
.transition, a, a div{
  -webkit-transition: ease .2s;
  -moz-transition: ease .2s;
  -o-transition: ease .2s;
  transition: ease .2s;
}
.fancy-heading, .work a, h1, h2, h3, h4{
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
}
#logo{
  line-height: 45px;
  vertical-align: middle;
}
.title-area{
  background: none !important;
}
.top-bar, .contain-to-grid{
  background: url(/img/blackorchid.png);
}
.top-bar a{
  font-size: 1.1em !important;
  font-weight: 400 !important;
  background: none !important;
}
.top-bar a:hover{
  color: #bedd15; 
}
.top-bar-section ul{
  background: none;
}
.toggle-topbar a{
  text-indent: -60px !important;
}
#main{
  margin-top: 30px;
}
.competencies .columns{
  letter-spacing: -0.09em;
  line-height: 0.8em;
  font-size: 90px;
  text-transform: uppercase;
  text-align: center;
}
.services{
  margin-top: 2em;
  border-top: 1px solid rgba(0,0,0,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.3);
  background: rgba(0,0,0,0.05);
}
.services .columns h3{
  font-size: 2.2em;
  text-align: center;
}
.services .columns p{
  text-align: center;
}
.services a{
  color: #000;
  text-decoration: underline;
}
.services a:hover{
  background: #bedd15; 
}
.work{
  margin-top: 2em;
}
.work a{
  text-transform: uppercase;
  font-size: 1.7em;
  margin-bottom: -0.5em;
  display: block;
}
.work a .front{
  background: rgba(190,221,21, 1);
  color: #000;
  height: 56px;
  border-bottom: 1px solid black;
  padding-left: 5px;
  overflow: hidden;
}
.work a:hover .front{
  -webkit-transform: translateZ(-28px) translateY(0) rotateX(90deg);
  -moz-transform: translateZ(-28px) translateY(0) rotateX(90deg);
}
.work a .bottom{
  padding-left: 5px;
  background: #000;
  color: #fff;
  height: 28px;
  border-top: 1px solid rgba(190,221,21,1);
  overflow: hidden;
  -webkit-transform: translateZ(-14px) translateY(-14px) rotateX(-90deg);
  -moz-transform: translateZ(-14px) translateY(-14px) rotateX(-90deg);
}
.work a:hover .bottom{
  -webkit-transform: translateZ(0) translateY(-28px) rotateX(0deg);
  -moz-transform: translateZ(0) translateY(-28px) rotateX(0deg);
}
#footer{
  border-top: 1px solid rgba(0,0,0,0.3);
  background: rgba(0,0,0,0.05);
  text-align: center;
  margin-top: 2em;
  padding: 1em 0;
}
