body{
  background: url(/img/subtle_dots.png);
  font-weight: 400 !important;
  font-family: 'Raleway', sans-serif;
}
.fixed.contain-to-grid{
  height: 50px;
}
.transition, a{
  -webkit-transition: ease .2s;
  -moz-transition: ease .2s;
  -o-transition: ease .2s;
  transition: ease .2s;
}
.fancy-heading, .work a, h1, h2, h3, h4{
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
}
#logo{
  line-height: 45px;
  vertical-align: middle;
}
.title-area{
  background: none !important;
}
.top-bar, .contain-to-grid{
  background: url(/img/blackorchid.png);
}
.top-bar a{
  font-size: 1.1em !important;
  font-weight: 400 !important;
  background: none !important;
}
.top-bar a:hover{
  color: #bedd15; 
}
.top-bar-section ul{
  background: none;
}
.toggle-topbar a{
  text-indent: -60px !important;
}
#main{
  margin-top: 30px;
}
.competencies{
  font-size: 90px;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  border-right: 10px solid rgba(0,0,0,0.3);
  border-left: 10px solid rgba(0,0,0,0.3);
}
.services{
  margin-top: 2em;
  border-top: 1px solid rgba(0,0,0,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.3);
  background: rgba(0,0,0,0.05);
}
.services .columns h3{
  font-size: 2.2em;
  text-align: center;
}
.services .columns p{
  text-align: center;
}
.services a{
  color: #000;
  text-decoration: underline;
}
.work{
  margin-top: 2em;
}
.work a{
  background: rgba(190,221,21, 1);
  text-transform: uppercase;
  color: #000;
  font-size: 2em;
  margin-bottom: 0.5em;
  display: block;
}
