<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>eCommerce Consultant in SF Bay Area | Downshift Labs</title>
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/downshift.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,400' rel='stylesheet' type='text/css'>
  <script src="js/vendor/custom.modernizr.js"></script>
</head>
<body>
  <div class="contain-to-grid sticky">
    <nav class="top-bar">
      <ul class='title-area'>
        <li class="name"><a href="/" id="logo"><img src="img/logo.png" /></a></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

        <section class="top-bar-section">
          <ul class="right fancy">
            <li><a href="#work">The work</a></li>
            <li><a href="#people">The people</a></li>
            <li><a href="#get-in-touch">Get in touch</a></li>
          </ul>
        </section>
      </ul>
    </nav>
  </div>

  <div class="row">
    <div class="hero large-8 large-centered small-12 columns">
      <div class="fancy-heading competencies">
        Responsive</br>
        Full-stack</br>
        Ruby+Rails</br>
        eCommerce
      </div>
    </div>
  </div>

  <div id="main" role="main">
    {{ content }}
    <!--
    <p>If you use these things, you can follow me on <a href="http://twitter.com/jumph4x">Twitter</a>, <a href="http://www.jumph4x.net">Tumblr</a> or <a href="http://github.com/jumph4x">Github</a>.<br/>Otherwise, email me directly: at <code>&#100;&#101;&#110;&#105;&#115;&#064;&#100;&#111;&#119;&#110;&#115;&#104;&#105;&#102;&#116;&#108;&#097;&#098;&#115;&#046;&#099;&#111;&#109;</code></p>
    -->
  </div>

  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script src="js/jquery.fittext.js"></script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2844090-9']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    $(document).foundation();
    $('.competencies').fitText(0.7);
  </script>

</body>
</html>
