<!doctype html>
<html lang="en">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/js/jquery.vegas.js"></script>

    <link href="/css/jquery.vegas.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/css/downshift.labs.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href='//fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
    <script>
      $( function() {
        $.vegas('overlay', {
          src: '/images/overlays/02.png',
          opacity: 0.5
        });

        $.vegas('slideshow', {
          delay: 30000,
          preload: true,
          backgrounds:[
            { src:'/images/bg/miata-rear.jpg'},
            { src:'/images/bg/ktm-690.jpg' },
            { src:'/images/bg/c36-amg.jpg' },
            { src:'/images/bg/300-sdl.jpg' }
          ]
        });
      });
    </script>
  </head>
  <body>

    <header>
      <ul>
        <li><a href="#">About</a></li>
      </ul>    
    </header>

    <div id="main" role="main">
      {{ content }}
    </div>

    <footer>

    </footer>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2844090-9']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script> 
  </body>
</html>
